ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#player-selection{
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url("https://secure.static.tumblr.com/81443e29eed91e143169e9e6b75fe7f3/rao1mez/39dmss2gi/tumblr_static_old-skool-3d-cinema-audience_color.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
